<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/trees.jpg');background-size: cover;background-position: top center;">

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card card-login">
            <div class="card-header card-header-rose text-center">
              <h4 class="card-title"> Reset Password </h4>
            </div>
            <div class="card-body" style="padding-right: 10px !important;">
              <div class="row">
                <form class="col-11 mr-auto ml-auto" [formGroup]="passwordForm" (submit)="onResetPassword($event)">
                  <div class="row">
                    <mat-form-field class="col-12 mb-2">
                      <input matInput [type]="isHidePassword ? 'password' : 'text'" formControlName="password"
                        placeholder="Password *" />
                      <button mat-icon-button matSuffix type="button" (click)="isHidePassword = !isHidePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidePassword">
                        <mat-icon>
                          {{ isHidePassword ? "visibility_off" : "visibility" }}
                        </mat-icon>
                      </button>
                      <mat-error class="text-danger" *ngIf="passwordForm.get('password').errors?.required">
                        Password is required.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12 mb-2">
                      <input matInput [type]="isHideConfirmPassword ? 'password' : 'text'"
                        formControlName="confirmPassword" placeholder="Confirm Password *" />
                      <button mat-icon-button matSuffix type="button"
                        (click)="isHideConfirmPassword = !isHideConfirmPassword" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="isHideConfirmPassword">
                        <mat-icon>
                          {{ isHideConfirmPassword ? "visibility_off" : "visibility" }}
                        </mat-icon>
                      </button>
                      <mat-error class="text-danger" *ngIf="passwordForm.get('confirmPassword').errors?.required">
                        Confirm password is required.
                      </mat-error>
                      <mat-error class="text-danger"
                        *ngIf="passwordForm.get('confirmPassword').errors?.ConfirmPassword">
                        Password does not match.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 text-center mb-3">
                    <button mat-raised-button type="submit" class="btn btn-warning btn-round">
                      Reset Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>