<div class="card mt-2 mb-1">
  <div class="card-header">
    <div class="row">
      <div class="col-2 text-left d-flex align-items-center justify-content-start">
        <span class="font-weight-bold"> Tree Count: {{ treeCount || 0 }} </span>
      </div>
      <div class="col-8 text-center">
        <a href="#" style="cursor: pointer;" (click)="onViewSite($event)">
          <h4 class="card-title text-rose">
            <u> {{ name }} </u>
          </h4>
        </a>
        <p class="card-category">{{ address }}</p>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <a class="nav-link" href="#pablo" id="manager-img-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img class="manager-img" [src]="site?.Account_Manager_Profile_Picture_URL" alt="manager-profile" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="manager-img-dropdown">
          <span class="dropdown-item justify-content-center font-weight-bold"> {{ site?.Account_Manager }} </span>
          <span class="dropdown-item">
            <span class="material-icons mr-2"> email </span>
            {{ site?.Account_Manager_Email }}
          </span>
          <span class="dropdown-item">
            <span class="material-icons mr-2"> phone </span>
            {{ site?.Account_Manager_Phone_Number }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>