<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black"
    style="background-image: url('./assets/img/trees.jpg');background-size: cover;background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card card-login">
            <div class="card-header card-header-rose text-center">
              <h4 class="card-title">Confirm Email</h4>
            </div>
            <div class="card-body" style="padding-right: 10px !important;">
              <div class="row mt-2 mb-3">
                <ng-container *ngIf="isLoading">
                  <div class="col-12 text-center">
                    <p class="font-weight-bold"> Checking Email Confirmation Code... </p>
                  </div>
                </ng-container>
                <ng-container *ngIf="!isLoading">
                  <div *ngIf="isTokenValid" class="col-12 text-center">
                    <p class="font-weight-bold"> E-mail Confirmation successful! You may now log into Sparrow. </p>
                  </div>
                  <div *ngIf="!isTokenValid" class="col-12 text-center">
                    <p class="font-weight-bold"> Invalid Confirmation Code. </p>
                  </div>
                  <div class="col-12 text-center">
                    <button mat-raised-button type="button" class="btn btn-warning btn-round" (click)="onLogin()">
                      Login
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>